Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"

RewriteEngine On
RewriteRule ^api/(.*) WebApi/$1
RewriteRule ^WebApi/([^/]+)?$ index.php?url=$1 [NC,L]
RewriteRule ^WebApi/([^/]+)/([0-9]+)/?$ index.php?url=$1&id=$2 [NC,L]
RewriteRule ^WebApi/([^/]+)/([^/]+)/([0-9]+)/?$ index.php?url=$1&name=$2&id=$3 [NC,L]
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]