<nav class="navbar-default navbar-static-side" role="navigation">
	<input type="checkbox" id="btn-menu">
	<label for="btn-menu">
		<img src="assets/images/menu-icon.png" id="icon-menu">
	</label>
	<div class="sidenav">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<span class="logo-utpl">
					<img alt="image" class="img-circle" src="assets/images/logo_utpl.png" />
				</span>
			</li>
			<li routerLinkActive="active"><a routerLink="/users">Gestión usuarios</a></li>
			<li routerLinkActive="active"><a routerLink="/create">Actualizar roles</a></li>
			<li routerLinkActive="active"><a routerLink="#">Gestión cuestionarios</a></li>
			<li routerLinkActive="active"><a routerLink="#">Configuración</a></li>
			<li routerLinkActive="active"><a routerLink="#">Salir</a></li>
		</ul>
	</div>
</nav>